@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --color-Light-grayish-blue: hsl(240, 5%, 91%);
  --color-Very-darkgrayishblue: hsl(237, 12%, 33%);
  --color-Darkgrayishblue: hsl(240, 6%, 50%);
  --color-Softviolet-background: hsl(273, 75%, 66%);
  --color-Softviolet-transparent-background: hsla(273, 75%, 66%, 0.9);
  --color-Softblue-background: hsl(240, 73%, 65%);
  --color-Softblue-transparent-background: hsla(240, 73%, 65%, 0.9);
  --color-Very-dark-desaturated-blue-text: hsl(238, 29%, 16%);
  --color-Softred-text: hsl(14, 88%, 65%);
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body * {
  border: 1px solid pink;
}

body {
  line-height: 1.6;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;

}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET */

body {
  height: 100vh;
  background: linear-gradient(var(--color-Softviolet-background),var(--color-Softblue-background));
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  height: 70vh;
  width: 65vw;
  border-radius: 25px;
  box-shadow: 0px 20px 45px -27px #000000;
  background-color: #fff;
}

.container{
  display: flex;
  height: 100%;
  width: 50%;
  position: relative;
}



.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.background > img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 20%;
  left: -20%;
  position: absolute;
  filter: 
    drop-shadow(0px 80px 1px hsl(240, 5%, 91%))
    drop-shadow(-120px 67px 1px hsl(240, 5%, 91%));
  
}

.box {
  position: absolute;
/*   top: 43%;
  left: -95px; */
}

.left2 {
  position: absolute;
  top: 43%;
  left: 157px;

}

footer {
  align-self: center;
  position: absolute;
  bottom: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-Grayish-Blue);
}

.attribution a {
  color: var(--color-Softred-text);
  text-decoration: none;
}